@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'comfortaa';
  src: url('/fonts/comfortaa.ttf') format('truetype');
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1;
    @apply h-1
}

::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

  body{
    @apply bg-background
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.summary-content ul{
  list-style: disc;
  list-style-position: inside;
}

.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}